<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheResult="false"
         colors="false"
         convertDeprecationsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="CoreSync-PHP74">
            <directory suffix="Test.php">../../tests/Modules/Format/CoreSync</directory>
        </testsuite>
    </testsuites>
</phpunit>
